:root {
  /* 기준 폰트 사이즈 */
  --font-base: 1k6px;

  /* 단계별 사이즈 정의 (T-shirt sizing 방식) */
  --font-xs: 0.75rem; /* 12px */
  --font-sm: 0.875rem; /* 14px */
  --font-md: 1rem; /* 16px (기본) */
  --font-lg: 1.25rem; /* 20px */
  --font-xl: 1.5rem; /* 24px */
  --font-xxl: 2rem; /* 32px */
  --font-title: 3rem; /* 48px */
}
* {
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 800;
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  overscroll-behavior: none;
}

.nav-wrapper {
  font-size: var(--font-xl);
  width: 100vw;
  background: red;
}
.nav-wrapper .nav {
  width: 100%;
  max-width: 1400px;
  margin: auto auto;
  background-color: green;
}
main .blog-wrapper {
  max-width: 1400px;
  margin: auto auto;
  background: gray;
}
